/* ===== NAVBAR ===== */
.navbar {   
   position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;       
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #18332f;     
  color: white;
  padding: 0.6rem 3%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); 
  border-bottom: 2px solid #0d2d2a;          
}

/* Picture/logo */
.header-logo {
  width: 130px;
  height: auto;
  border-radius: 14px;                
  box-shadow: 0 3px 8px rgba(13, 45, 42, 0.6); 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(13, 45, 42, 0.8);
}

/* Category */
.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 0;
  padding: 0;
}

/* links */
.nav-ul li {
  font-size: 1.5rem;
}

.nav-ul a {
  text-decoration: none;
  color: #f7f3ee;
  transition: color 0.2s ease, transform 0.2s ease;
}

.nav-ul a:hover {
  color: white;
  transform: scale(1.05);
}

/* Knapp-stil i nav */
.button-link {
  background-color: #0d2d2a;
  color: white;
  padding: 10px 24px;
  border-radius: 9999px;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.button-link:hover {
  transform: scale(1.2);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.dropdown-btn:hover {
  color: rgb;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #18332f;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  min-width: 160px;
  z-index: 10;
}

.dropdown-item a {
  display: block;
  font-size: 1rem ;
  padding: 10px 16px;
  color: #f7f3ee;
  text-decoration: none;
}

.dropdown-item a:hover {
  background-color: #0d2d2a;
  color: white;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0.8rem 1rem;
  }

  .nav-ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  .header-logo {
    width: 110px;
  }
}
