
.recipe-container {
  min-height: 100vh;
  background-color: #0d2d2a; 
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.ingredients ul {
  list-style: disc;     
  padding-left: 20px;   
  margin: 16px 0;
}

.ingredients li {
  display: list-item;   
  margin-bottom: 6px;   
  font-size: 20px;
}


.recipe-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.recipe-image {
  width: 50%;
  border-radius: 12px;
  margin-bottom: 12px;
}

.recipe-meta {
  color: #d1d5db;
  margin-bottom: 16px;
}


